html{

}

::-webkit-scrollbar{
width:15px;
}
::-webkit-scrollbar-track{
background:#2E4053;
border-radius:10px;
}
::-webkit-scrollbar-thumb{
background:#E5E7E9;
border-radius:10px;
}
::-webkit-scrollbar-thumb:hover{
background:#D7DBDD;
}

.d-block{
float:left;
display:inline-block;
}

#leftBar{
position:relative;
background-color:#2E4053;
display:inline-block;
height:50rem;
width:25%;
padding:0;


}
#rightBar{
position:relative;
margin-right:0;
background-color:#F2F3F4;
width:75%;
height:50rem;
padding:0;
}
.user{
margin-top:20px;
border-bottom:1px solid #566573;
padding-left:10px;
padding-bottom:1rem;
height:20%;
}
.user2{
margin-top:20px;
border-bottom:1px solid #566573;
padding-left:10px;
padding-bottom:2rem;
height:auto;
}
.UserName{
color:white;
margin-left:5px;
}
#messageUsers{
width:100%;
height:76%;
overflow:scroll;
overflow-x:hidden;
}
.messageUser{
width:100%;
margin-top:20px;
padding:10px;
}
.messageUser:hover{
background-color:#34495E;
}
#messages{
overflow:scroll;
overflow-x:hidden;
position:relative;
padding:5px 5px 0 5px;
height:47.3rem;
}
#GetChatMessageBar{
height:93%;
overflow:scroll;
}
.currentUserMessage{
-webkit-box-shadow: 0px 2px 16px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 16px -7px rgba(0,0,0,0.75);
box-shadow: 0px 2px 16px -7px rgba(0,0,0,0.75);


display: flex;
flex-direction: column;
position:relative;
float:right;
min-width:20%;
max-width:60%;
word-wrap: break-word;
border-radius:30px;
background-color:#48C9B0;
border:2px solid #48C9B0;
padding:10px;
}
.text{
}
.userMessage{
-webkit-box-shadow: 0px 2px 16px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 16px -7px rgba(0,0,0,0.75);
box-shadow: 0px 2px 16px -7px rgba(0,0,0,0.75);

display: flex;
flex-direction: column;
position:relative;
float:left;
min-width:20%;
max-width:60%;
word-wrap: break-word;
border-radius:30px;
background-color:white;
border:2px solid #48C9B0;
padding:10px;

}
.messageSpace{
display: flex;
flex-direction: column;
width:100%;
height:50px;
}
.paddingMessage{
display:block;
width:100%;
height:auto;
margin-top:2%;
}

#messageBar{
position:relative;
border-radius:5px;
background-color:#F8F9F9;
width:100%;
height:5%;
bottom:0;

border:2px solid #F2F3F4;
}
#messageBox{
width:100%;
}
.dateTime{
font-size:80%;
position:absolute;
bottom:-15px;
}
.left{
left:1px;
}
.right{
right:0;
}

.bottom-button{
width:100%;
}
.main-title{
padding:10px;
}
.MsgBtn{
display:block;
width:100%;
}
#send{
padding:0;
float:right;
width:42px;
height:42px;
border-radius:50%;
border:none;
background-color:#48C9B0;
margin:0 5px 0 5px;
color:#F8F9F9;
}
#send:hover{
background-color:#66D8C2;
}
#text{
float:right;
resize:none;
max-width:70%;
}
#back{
text-align:center;
width:100%;
}
.append{
width:42px;
height:42px;
border-radius:50%;
border:none;
background-color:#48C9B0;
margin:0 5px 0 5px;
color:#F8F9F9;
}
.append:hover{
background-color:#66D8C2;
}

#errorMessage{
text-align:center;
color:#CB4335;
}

.messageUserName{
display:block;
top:0;
left:5px;
}
.messageUserName2{
display:block;
right:5px;
top:0;
}
.usernameRow{
margin-top:1px;
margin-bottom:3px;
border-color:#F8F9F9;
width:75%;
margin-left:0;
}
.usernameRow2{
margin-top:1px;
margin-bottom:3px;
border-color:#48C9B0;
width:75%;
margin-left:0;
}

#groupDiv{
z-index:10;
position:absolute;
width:50%;
height:90%;
overflow:auto;
background-color:white;
margin-right:auto;
margin-left:20%;
border:1px solid #909497;
border-radius:5px;
}

#background{
position:fixed;
left:0;
z-index:9;
width:100%;
height:100%;
background-color:RGBA(0,0,0,0.5);
}

#groupDivLeft{
border-bottom:2px solid #909497;
padding-bottom:20px;
height:auto;
}
#groupDivRight{
height:auto;
}

#groupDivMargin{
padding:10%;
margin:auto;
}
#closeBtn{
position:absolute;
right:0;
top:5px;
padding:10px;
color:#273746;
transition:all 0.3s;
}
#closeBtn:hover{
color:#34495E;
}

@media screen and (max-width:700px){

.append{
width:35px;
height:35px;
}
#send{
width:35px;
height:35px;

}


}



