#settings{
display:none;
position:absolute;
z-index:10;
margin:auto;
width:50%;
left:25%;
height:500px;
background-color:white;
}
#background{
display:none;
position:absolute;
width:100%;
height:100%;
background-color:RGBA(0,0,0,0.5);
}
.user2{

}
.settingsBtn{
display:flex;
justify-content:flex-end;
}
#settingsCloseBtn{
position:absolute;
right:0;
top:0;
padding:5px;
color:#34495E;
}
#settingsCloseBtn:hover{
transition:all 0.3s;
color:#5D6D7E;
}
