.profilePhotoMain{
width:70px;
height:70px;
border-radius:50%;
object-fit:cover;
}
.profilePhoto{
width:40px;
height:40px;
border-radius:50%;
object-fit:cover;
}

.warning{
padding:10px;
border-radius:20px;
text-align:center;
background-color:#E74C3C;
color:#F8F9F9 ;
}
#getList{
margin-bottom:50px;
min-height:500px;
}